@{
    ViewData["Title"] = "Product List";
}
<h2>Shoe List</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Brand</th>
            <th>Material</th>
            <th>Sole Type</th>
            <th>Size</th>
            <th>Style</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

